<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.bean.ActivityMapper">
    <select id="getTeamActivities" resultType="com.core.bean.Activity" resultMap="activityMap">
        select a.id as aid, a.name as aname, a.total_cost as totalCost, a.total_foundation_cost as totalFoundationCost, a.description as adescription, a.status as astatus, a.start_time as startTime, a.end_time as endTime, b.id as bid, b.name as bname from activity a, team b where a.team_id = #{teamId} and a.team_id = b.id;
    </select>
    <resultMap id="activityMap" type="com.core.bean.Activity">
        <id column="aid" property="id"/>
        <result property="name" column="aname"/>
        <result property="totalCost" column="totalCost"/>
        <result property="totalFoundationCost" column="totalFoundationCost"/>
        <result property="description" column="adescription"/>
        <result property="status" column="astatus"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <association property="team" column="team_id" javaType="com.core.bean.Team">
            <id property="id" column="bid"/>
            <result property="name" column="bname"/>
        </association>
    </resultMap>

    <select id="getAllActivities" resultType="com.core.bean.Activity" resultMap="activityMap">
        select a.id as aid, a.name as aname, a.total_cost as totalCost, a.total_foundation_cost as totalFoundationCost, a.description as adescription, a.status as astatus, a.start_time as startTime, a.end_time as endTime, b.id as bid, b.name as bname from activity a, team b where a.team_id = b.id;
    </select>

    <select id="getAllActivitiesByStatus" resultType="com.core.bean.Activity" resultMap="activityMap">
        select a.id as aid, a.name as aname, a.total_cost as totalCost, a.total_foundation_cost as totalFoundationCost, a.description as adescription, a.status as astatus, a.start_time as startTime, a.end_time as endTime, b.id as bid, b.name as bname from activity a, team b where a.team_id = b.id and a.status in
        <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
            ${item}
        </foreach>
    </select>
</mapper>