<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="environment">
        <environment id="environment">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://106.186.125.8:9000/tba"/>
                <property name="username" value="root"/>
                <property name="password" value="tba1234"/>
                <!--<property name="url" value="jdbc:mysql://localhost:3306/tba"/>
                <property name="username" value="system"/>
                <property name="password" value="manager"/>-->
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="ActivityMapper.xml"></mapper>
        <mapper resource="TeamMemberMapper.xml"></mapper>
    </mappers>
</configuration>